################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ZZT.Mapper/.vs/ZZT.Mapper/v16/Server/sqlite3/storage.ide-wal
/ZZT.Mapper/.vs/ZZT.Mapper/v16/Server/sqlite3/storage.ide-shm
/ZZT.Mapper/.vs/ZZT.Mapper/v16/Server/sqlite3/storage.ide
/ZZT.Mapper/.vs/ZZT.Mapper/v16/Server/sqlite3/db.lock
/ZZT.Mapper/.vs/ZZT.Mapper/v16/.suo
/ZZT.Mapper/ZZT.Mapper/bin/Debug/netstandard2.0
/ZZT.Mapper/ZZT.Mapper/obj/Debug/netstandard2.0
/ZZT.Mapper/ZZT.Mapper/obj
/ZZT.Mapper/ZZTMapper.Test/bin/Debug/netcoreapp2.2
/ZZT.Mapper/ZZTMapper.Test/obj
/ZZT.Mapper/.vs/ZZT.Mapper/DesignTimeBuild/.dtbcache
